<component name="libraryTable">
  <library name="spring-core-5.0.0.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/Desktop/spring-core-5.0.0.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring-tx-5.0.0.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring-beans-5.0.0.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/spring-jdbc-5.0.0.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/commons-logging-1.2.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/mchange-commons-java-0.2.12.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>